// VARIABLES DE CONFIGURACION
PORT=
NODE_ENV=

//BASE DE DATOS USUARIOS
DATABASE_MONGO=

// BASE DE DATOS NIPPON CAR
PORT_NIC=
DBUSER_NIC=
DBPASS_NIC=
DBHOST_NIC=
DBPORT_NIC=
DATABASE_NIC=

// BASE DE DATOS LIESS
PORT_LIESS=
DBUSER_LIESS=
DBPASS_LIESS=
DBHOST_LIESS=
DBPORT_LIESS=
DATABASE_LIESS=

// URL FRONT
FRONTEND_URL_NIC=